.inputWrapper {
  max-width: 120px;
}

.inputLabel {
  color: var(--smokey-grey);
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.input {
  border-radius: 8px;
  border: 1px solid var(--light-grey);
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
  width: 100%;
}

.input:hover {
  border-color: var(--purple);
  caret-color: var(--purple);
}
